
*
{
    padding: 0;
    margin: 0;
    color: #757575;
   }
.contact{
	 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	z-index: -1;
	height: 570px;
}
.top{
    background: rgb(235, 227, 227);
    width:100%;
    margin-top: 480px; 
}
.top img{
    border: 2px solid rgb(196, 109, 109);
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 200px;
    
}
nav {
    width: 96%;
    height: 70px;
    font-family: sans-serif;
    margin:2px auto;
    display: flex;
    justify-content: space-around;
}
nav h1{
    color: white;
    font-size: 50px;
    width: 40%;
    font-weight: bold;
    top: 0;
    left: 0;
}
nav ul{
    width: 60%;
    list-style: none;
}
nav ul li{
    list-style: none;
    float: left;
    margin: 10px 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
nav ul li a, nav ul li a {
    text-decoration: none;
    color:white;
}

.box
{
    width: 100%;
    height: 120px;
    padding: 200px;
    /*position: relative;
    top: 300px;*/

    text-align: center;
    margin: 10px auto;
    margin-top: 10px;
}
.box h1
{
    
    width: 400px;
    margin-left: 18%;
    color: rgb(167, 114, 49);
    padding: 17px;
    font-size: 50px;
    border-radius: 10px 10px 0px 0px;

}
.box h2
{
    
    width: 70%;
    
    color: rgb(58, 52, 44);
    padding: 15px;
    font-size: 25px;
    border-radius: 10px 10px 0px 0px;
}
.box p{
    color: rgb(10, 3, 2);
    width: 70%;
    padding: 13px;
}
#form h2, h3{
	text-align: center;
}
#form{
	display: inline-block;
	background-color: lightgrey;
	opacity: 0.85;
	width: 49%;
}
form{
	color: white;
	background-color: rgb(49, 12, 2);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	padding-bottom: 1em;
	width: 95%;
}
label {
	display: inline-block;
    width: 100px;
    padding: 1em;
    text-align: right;
}
input, textarea{
	display: inline-block;
	height: 20px;
    width: 400px;
    border-radius: 0.5em;
    padding-left: 0.5em;
}
button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}
#Address{
	display: inline-block;
	background-color: lightgrey;
	font-weight: bold;
	opacity: 0.85;
	width: 49%;
	padding-left: 1em;
}
#Address i, h3{
	display: inline-block;
	font-weight: bold;
}
#map{
	display: block;
	width: 100%;
	height: 300px;
}

nav{
    width: 96%;
    height: 70px;
    font-family:sans-serif;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
nav h1{
    color: white;
    font-size: 50px;
    width: 40%;
    font-weight: bold;
	top:0;
    left:0;
}
nav ul{
    width: 60%;
    list-style: none;
}
nav ul li{
    list-style: none;
    float: left;
    margin: 10px 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
nav ul li a, nav ul li a .fa{
    text-decoration: none;
    color:white;
}
footer{
    background-color:rgb(173, 156, 60);
    padding:50px;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
}

